<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>streetsmart</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="styles/styles.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <script type="text/javascript" src="scripts/app.js"></script>

</head>
<body>

  <!-- JUMBOTRON -->
  <div class="jumbotron">
    <div class="container">
      <h1>Streetsmart</h1>
      <h4>A guide to local urban art</h4>
    </div>
  </div>


    <!-- GALLERY -->
  <section class="container-fluid" id="gallery">
    <script id="gallery-template" type="text/x-handlebars-template">
      <div data-piece-id={{_id}} class="piece-image" data-artist-id={{artist._id}}>
        <img src="{{image}}" class="img-fluid thumbnail">
      </div>
    </script>
    <!-- SINGLE PIECE MODAL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="singlePieceModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"></button>
            <h4 class="modal-title">Piece of Art</h4>
          </div>
          <div id="singlePiece"></div>
          <div class="modal-body" id="singlePiece">
            <script id="single-piece-template" type="text/x-handlebars-template">
              <div class="row">
                <div class="col-md-12">
                  <div class="row single-piece-html">
                    <img src="{{image}}" class="img-responsive thumbnail">
                    <div><span>Title: </span>{{title}}</div>
                    <div><span>Type: </span>{{type}}</div>
                    <div><span>Location: </span>{{location}}</div>
                    <div>{{#if active}}<span>Active: </span> YES{{else}}<span>Active: </span>NO {{/if}}</div>
                    <div><span>Note: </span>{{note}}</div>
                    <div><span>Artist: </span>{{artist.name}}</div>
                  </div>
                </div>
              </div>
            </script>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default-outline" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary-outline" id="savePiece">Save Piece</button> -->
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- ARTIST FORM -->
  <section class="container artists">
    <div class="container artistTitleForm">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2>Artists</h2>
          </div>
      </div>

      <section id="artist-form" class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal form-inline">
              <fieldset>
                <legend>Add New Artist</legend>

                <div class="col-md-10">
                  <div class="form-group col-md-4">
                    <input type="text" name="name" placeholder="Artist Name">
                  </div>

                  <div class="form-group col-md-4">
                    <input type="text" name="contact" placeholder="Social Media Link">
                  </div>
                  <button id="artist-save" class="btn btn-primary center-block">Save</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </section>

    </div>

    <!-- ARTISTS -->
    <div id="artists" class="container">
      <!-- ONE ARTIST -->
      <script id="artist-template" type="text/x-handlebars-template">
        <div class="row artist" data-artist-id="{{_id}}">
          <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-body">

                <!-- ARTIST row -->
                <div class="row">
                  <div class="col-md-9 col-xs-12 artist_entry">

                    <ul class="list-group">

                      <li class="list-group-item">
                        <h5 class="inline-header">Name:</h5>
                        <span class="artistName">{{name}}</span>
                      </li>

                      <li class="list-group-item">
                        <h5 class="inline-header">Social Media:</h5>
                        <span class="contact">{{#if contact}}<a href="{{contact}}">Check out their stuff!</span>{{else}}<span>n/a</span>{{/if}}
                      </li>

                    </ul>

                  </div>
                </div>
                <div class='panel-footer'>
                  <button class="btn btn-info show-pieces">Show Pieces for {{name}}</button>
                  <button class="btn btn-warning delete-artist">Delete</button>
                  <!-- <button class="btn btn-primary edit-artist">Edit Artist</button>
                  <button class="btn btn-success save-artist">Save Artist</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </script>
    </div>

  </section>

  <!-- PIECE MODAL -->
  <div class="modal fade" tabindex="-1" role="dialog" id="pieceModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title">Artist Pieces</h4>
        </div>
        <div class="modal-body" id="pieces-list">

          <!-- PIECE MODAL FORM -->
          <fieldset class="form-horizontal">
            <h2><span>Add a piece!</span></hs>
            <div class="form-group">
              <label class="col-md-4 control-label" for="title">Piece Title</label>
              <div class="col-md-4">
                <input id="title" name="title" type="text" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="type">Type</label>
              <div class="col-md-4">
                <input id="type" name="type" type="text" class="form-control required">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="image">Image</label>
              <div class="col-md-4">
                <input id="image" type="text" class="form-control required">
              </div>
            </div>
          </fieldset>

          <!-- PIECE MODAL TEMPLATE-->
          <script id="piece-template" type="text/x-handlebars-template">
            <div class="list row">
              <div class="col-md-8">
                <div class="piece-image">
                  <img src="{{image}}" class="img-responsive thumbnail">
                </div>
                <div class="row">
                  <div><span>Title: </span>{{title}}</div>
                  <div><span>Type: </span>{{type}}</div>
                </div>
              </div>
            </div>
          </script>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default-outline" id="closeBtn" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary-outline" id="savePiece">Save Piece</button>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
