<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>streetsmart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script type="text/javascript" src="../public/scripts/app.js"></script>

  </head>
  <body>

<!-- JUMBOTRON -->
    <div class="jumbotron">
      <div class="container">
        <h1>Helloooo</h1>
      </div>
    </div>


<!-- GALLERY -->
    <!-- <section class="container" id="gallery">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <div class="col-md-3">
                <img src="{{img}}" class="img-responsive thumbnail">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section> -->


<!-- PIECE FORM -->
    <section class="container" id="piece-form">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">

          <form>
            <fieldset>

              <legend>Add New Piece</legend>

              <div class="form-group">
                <label for="type">Type :</label>
                <select>
                  <option value="mural">Mural</option>
                  <option value="painting">Painting</option>
                  <option value="sticker">Sticker</option>
                  <option value="stencil">Stencil</option>
                  <option value="sculpture">Sculpture</option>
                </select>
              </div>

              <div class="form-group">
                <label for="location">Location :</label>
                <input type="text" name="location">
              </div>

              <div class="form-group">
                <label for="active">Active :</label>
                <input type="checkbox" name="active">
              </div>

              <div class="form-group">
                <label for="image">Upload an Image :</label>
                <input type="file">
                <img src="#" height="200" alt="Image Preview">
              </div>

              <div class="form-group">Input</div>

              <div class="form-group">Button</div>

            </fieldset>
          </form>

        </div>
      </div>
    </section>


<!-- ONE PIECE HANDLEBARS TEMPLATE-->
    <div id="pieces" class="container">

      <script id="piece-template" type="text/x-handlebars-template">
        <div class="row piece">
          <div class="#">
            <div>

              <div class="row">

                <div>
                  <img src="{{#}}">
                </div>


              </div>
              <div>Button Panel</div>

            </div>

          </div>
        </div>
      </script>

    </div>
    <!-- PIECE MODAL-->
    <!-- <div class="modal fade" tabindex="1" role="dialog" id="artistModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create
          </div>
        </div>
      </div>
    </div> -->

    <!-- ARTIST PAGE -->
  </body>
</html>
