<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>streetsmart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script type="text/javascript" src="../public/scripts/app.js"></script>

  </head>
  <body>
<!-- JUMBOTRON -->
    <div class="jumbotron">
      <div class="container">
        <h1>Helloooo</h1>
      </div>
    </div>
<!-- GALLERY -->
    <section class="container" id="gallery">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">Gallery</div>
      </div>
    </section>
<!-- PIECE FORM -->
    <section class="container" id="piece-form">
      <div class="row">
        <div class="col-md-10">

          <form>
            <fieldset>

              <legend>Add New Piece</legend>

              <div class="form-group">Input</div>

              <div class="form-group">Input</div>

              <div class="form-group">Input</div>

              <div class="form-group">Input</div>

              <div class="form-group">Input</div>

              <div class="form-group">Button</div>

            </fieldset>
          </form>

        </div>
      </div>
    </section>
<!-- ONE PIECE HANDLEBARS TEMPLATE-->
    <script id="piece-template" type="text/x-handlebars-template">
      <div class="container">
        <div class="row">
          
        </div>
      </div>
    </script>
    <!-- PIECE MODAL-->

    <!-- ARTIST PAGE -->
  </body>
</html>
