body {
  background-image: url('/images/pavement.jpg');
}

/*******************************
JUMBOTRON
*******************************/

.jumbotron {
  background-color: rgb(50, 125, 191);
}





/*******************************
GALLERY
*******************************/

#gallery {
  background-color: rgba(3, 47, 141, 0.8);
}

img {
  height:250px;
  width:250px;
  float:left;
  margin: 10px;
}

#piece-form {
  background-color: #fa8072;
}




/*******************************
ARTISTS
*******************************/

.artists {
  margin: 10px;
}

.artists fieldset {
  padding:10px;
}

.artists legend {
  margin:0;
}

h3 {
  font-family: 'Permanent Marker', cursive;

}








/*******************************
PIECE MODAL
*******************************/

#pieceModal img {
  height:200px;
  width:200px;
}

#pieceModal h3 {
  font-family: 'Permanent Marker', cursive;
  color: rgb(76, 167, 176);
}

li {
  list-style-type: none;
  display: inline-block;
}

span {
  font-size:18px;
  font-weight:bolder;
}

h3 span {
  color:
}

.modal-title {
  font-family: 'Permanent Marker', cursive;

  font-weight: bolder;
  font-size:24px;
  color: rgb(217, 58, 102);
}
