

/*******************************
JUMBOTRON
*******************************/

.jumbotron {
  background-color: #990050;
}




/*******************************
GALLERY
*******************************/

#gallery {
  background-color: #005580;
}

img {
  height:250px;
  width:250px;
}




/*******************************
FORM - ADD PIECE
*******************************/

#piece-form {
  background-color: #fa8072;
}


/*******************************
ONE PIECE
*******************************/




/*******************************
MODAL - ADD ARTIST
*******************************/





/*******************************
ARTIST
*******************************/
