

/*******************************
JUMBOTRON
*******************************/

.jumbotron {
  background-color: #990050;
}

/*******************************
ARTIST
*******************************/


#gallery {
  background-color: #005580;
}

img {
  height:250px;
  width:250px;
}

#piece-form {
  background-color: #fa8072;
}



/*******************************
PIECE MODAL
*******************************/

li {
  list-style-type: none;
  display: inline-block;
}

span {
  font-size:18px;
  font-weight:bolder;
}
